site_name: Tsuru Docs
site_url: https://tsuru.github.com/docs
site_author: Tsuru

repo_url: https://github.com/tsuru/docs.git
repo_name: tsuru/docs

theme:
  name: material
  favicon: ./static/favicon.ico
  logo: ./static/logo.svg

  palette:
    primary: black

  features:
  - content.code.copy
  - content.code.select
  - navigation.instant
  - navigation.tracking
  - navigation.tabs
  - toc.follow

markdown_extensions:
- admonition
- attr_list
- footnotes
- pymdownx.details
- pymdownx.emoji:
    emoji_index: !!python/name:materialx.emoji.twemoji
    emoji_generator: !!python/name:materialx.emoji.to_svg
- pymdownx.highlight
- pymdownx.snippets:
    base_path:
    - src/
- pymdownx.superfences
- pymdownx.tabbed:
    alternate_style: true
- toc:
    permalink: true

docs_dir: src

nav:
- Getting started:
  - Overview: ./getting_started/overview.md
  - Architecture: ./getting_started/architecture.md
  - "Install on minikube": ./getting_started/install_minikube.md
  - "Install on GKE": ./getting_started/install_gke.md
- User guides:
  - Install client: ./user_guides/install_client.md
  - App deploy:
    - Using Dockerfile: ./user_guides/deploy_using_dockerfile.md
    - GO apps: ./user_guides/deploy_go_apps.md
    - Python apps: ./user_guides/deploy_python_apps.md
    - Node.js apps: ./user_guides/deploy_nodejs_apps.md
    - React.js apps: ./user_guides/deploy_react_apps.md
  - App configuration:
    - tsuru.yaml: ./user_guides/tsuru_yaml.md
    - Procfile: ./user_guides/procfile.md
    - Unit states: ./user_guides/unit_states.md
  - Troubleshooting:
    - Recovering an application: ./user_guides/recovering_app.md

- Admin guides:
  - Managing clusters: ./admin_guides/managing_clusters.md
  - Managing pools: ./admin_guides/managing_pools.md
  - Managing platforms: ./admin_guides/managing_platforms.md
  - Managing roles: ./admin_guides/managing_roles.md
  - Managing teams: ./admin_guides/managing_teams.md

- References:
  - Tsuru Client: ./tsuru_client/tsuru.md
  - Configuration (tsuru.conf): ./reference/config.md
  - Services:
    - Building your service: ./services/build.md
    - Service API workflow: ./services/api.md
    - TSURU_SERVICES variable: ./services/environment_variables.md

- FAQ: ./faq.md

- Contributing:
  - Development environment:
    - Running development enviroment with Docker Compose: ./contributing/docker-compose.md
